espnet
nemo-toolkit
hydra-core
pytorch_lightning
braceexpand
webdataset
pandas
youtokentome
pyannote.core
pyannote.metrics
IPython
ffmpeg-python
transformers
editdistance
pydub
git+https://github.com/openai/whisper.git
