espnet==202211
nemo-toolkit==1.14
setuptools==59.5.0
hydra-core
pytorch_lightning
braceexpand
webdataset
pandas
youtokentome
pyannote.core
pyannote.metrics
IPython
ffmpeg-python
transformers
editdistance
pydub
git+https://github.com/openai/whisper.git
numba==0.50
numpy==1.23
resampy==0.3.1
jiwer
torchaudio
onnxruntime==1.13.1
fastprogress
jupyterlab
