espnet
nemo-toolkit
hydra-core
pytorch_lightning
braceexpand
webdataset
pandas
youtokentome
pyannote.core
pyannote.metrics
IPython
ffmpeg-python
transformers
editdistance
pydub
git+https://github.com/openai/whisper.git
numba==0.50
numpy==1.23
resampy==0.3.1
jiwer
torchaudio
onnxruntime
fastprogress
jupyterlab
